.kegs {
  margin-top: 25px;
  background-image: url('../img/kegs-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__img {
    display: block;
    position: relative;
    float: left;
    width: 50%;
    @include breakpoint(max-width 600px){
      display: none;
    }
    > span {
      display: block;
      position: relative;
      float: left;
      width: 386px;
      height: 345px;
      margin-left: calc(50% - (386px / 2));
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  p {
    display: block;
    position: relative;
    float: left;
    width: 50%;
    margin-top: 48px;
    margin-bottom: 65px;
    color: black;
    font-family: $RobotoRegular;
    font-size: 15px;
    line-height: 18px;
    @include breakpoint(max-width 600px){
      width: 100%;
    }
  }
  .call-us{
    margin-bottom: 112px;
    @include breakpoint(max-width 770px){
      margin-left: calc(50% - (320px/2));
    }
  }
}