.product{
  background-color: #fff;
  &__wrapper{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 56px;
    @include breakpoint(max-width 600px){
      @include flex-direction(column);
      margin-bottom: 0;
    }
    &--item{
      display: block;
      position: relative;
      float: left;
      width: 248px;
      margin: 0 43px;
      @include breakpoint(max-width 1200px){
        width: 218px;
        margin: 0 20px;
      }
      > h3{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: 56px;
        margin-top: -41px;
        margin-bottom: 0;
        text-align: center;
        color: #333;
        font-size: 21px;
        font-weight: 600;
        background-image: url('../img/icons/tape-icon.png');
        background-repeat: no-repeat;
        padding-top: 14px;
        /*line-height: 16px;*/
        @include box-sizing(border-box);
        @include breakpoint(max-width 1200px){
          -webkit-background-size: contain;
          background-size: contain;
        }
      }
      > p{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: 198px;
        text-align: center;
        margin-top: 20px;
        color: #333;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        @include breakpoint(max-width 600px){
          height: auto;
        }
      }
    }
    &--item:nth-of-type(3){
      >h3{
        line-height: 16px;
      }
    }
    &--icon{
      display: block;
      position: relative;
      float: left;
      width: 234px;
      height: 246px;
      overflow: hidden;
      @include breakpoint(max-width 1200px){
        width: 100%;
      }
      @include breakpoint(max-width 600px){
        width: 200px;
        height: 220px;
        margin-left: calc(50% - (200px/2));
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}