.title{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  @include breakpoint(max-width 600px){
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  &:before{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    margin-left: calc(50% - (192px/2));
    width: 192px;
    height: 1px;
    background-color: #333;
  }
  &:after{
    display: block;
    position: absolute;
    content: '';
    bottom: 0;
    margin-left: calc(50% - (192px/2));
    width: 192px;
    height: 1px;
    background-color: #333;
  }
}
.separator{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  &__icon{
    display: block;
    position: relative;
    float: left;
    width: 76px;
    height: 46px;
    margin-left: calc(50% - (76px/2));
    overflow: hidden;
    background-color: #fff;
    z-index: 2;
    padding: 0 2px;
    @include box-sizing(border-box);
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__line{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 1px;
    margin-top: -23px;
    background-color: #333333;
  }
}
.call-us{
  display: block;
  position: relative;
  float: left;
  width: 320px;
  height: 56px;
  background-color: #22ab46;
  border: 1px solid #1a7a3c;
  border-radius: 5px;
  text-align: center;
  text-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: $RobotoMedium;
  font-size: 25px;
  line-height: 58px;
  @include transition(0.4s);
  @include breakpoint(max-width 600px){
    width: 100%;
    margin-right: 0;
  }
  &:hover{
    background-color: rgba(34,171,70,0.6);
    @include transition(0.4s);
  }
}